/* @override 
	https://instructure-uploads.s3.amazonaws.com/account_31600000000000001/attachments/8640/kidzone.css?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1944966554&Signature=bymWS3zMp3vbue80KMqM5cmONYQ%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0
	https://instructure-uploads.s3.amazonaws.com/account_31600000000000001/attachments/8651/kidzone.css?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1944970718&Signature=PYNHjZ5OPMOqFLAgnKV0ZbFirsA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0
	https://instructure-uploads.s3.amazonaws.com/account_31600000000000001/attachments/8652/kidzone.css?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1944971329&Signature=bI8US0bVnlnERTdxlDn5jfE6bTc%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0
	https://instructure-uploads.s3.amazonaws.com/account_31600000000000001/attachments/8665/kidzone.css?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1944975525&Signature=8r6X2HR3HkwnwgPxnLypxIlj0PM%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0 */

/* @group Fonts */

/*Load fonts*/
@import 'https://fonts.googleapis.com/css?family=Lobster|Patrick+Hand';

/* @end */

/* @group Menu Layout */
.ic-app-header__primary,
.ic-app-header__logomark-container {
	background-image: url("https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/bg/dots-pattern.png");
	background-color: #26b4d7 !important;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
	color: #fff;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
	background-image: url("https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/bg/dots-pattern.png");
	background-color: #ff8d00 !important;
}

.ReactTray__Content {
	background: url("https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/bg/dots-pattern.png") #fff !important;
}

.ReactTray__Content {
	padding: 18px 10px;
}

.ic-app-header__menu-list li:hover {
	background: #006c81;
}

.ic-app-header__menu-list-link:hover{
	background-image: url("https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/bg/dots-pattern.png");
	background-color: #006c81 !important;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
	color: #fff !;
}

/* @end */


/* ---------revised 29jul2016------------ */
body {
    background: url("https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/bg/page.jpg") repeat-y scroll center top transparent;
}

#breadcrumbs, .header-bar {
	background: transparent;
}

.pages.show .course-title {
	font-size: 2em;
	color: #00b4d7 !important;
}

.header-bar {
	padding-bottom: 0px;
	border-bottom: 1px dashed #20d7fb;
}

body.course-menu-expanded:not(.ic-no-flex-layout):not(.embedded) .ic-app-main-layout-horizontal {
    margin-left: 150px;
}

.ic-avatar {
	border-radius: 5px;
}

h1, h2 {
	font-family: Lobster;
}
.pages.show .course-title {
	color: #f05e36;
}
.list-view>ul>li, .list-view>nav>ul>li {
    width: 100px;
}

.ic-app-header__logomark {
    height: 75px;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
}
.menu-item__text {
    margin-top: 2px;
}
.menu-item-icon-container .ic-avatar {
    width: 46px;
    height: 46px;
}

.ic-app-header__menu-list-link {
    padding: 7px 0;
}

.ic-app-course-menu {
    width:150px;
}
.list-view a.active {
    font-weight: 500;
    color: #0061ad;
}

/* @group Main Menu */
.list-view>nav,
.menu-item__text {
	font-family: 'Lobster', cursive;
	font-size: 1.1em;
}


div.menu-item-icon-avatar {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/boy.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin-top: 4px;
}


div.menu-item-icon-accounts {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/university.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
}

div.menu-item-icon-login {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/id-card.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	padding-bottom: 5px;
}

div.menu-item-icon-dashboard {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/laptop.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin-left: 4px;
}

div.menu-item-icon-calendar {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/calendar.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	padding-bottom: 5px;
}

div.menu-item-icon-conversations {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/inbox.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	padding-bottom: 5px;
}

div.menu-item-icon-courses {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/suitcase.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	padding-bottom: 5px;
}

div.menu-item-icon-groups {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/groups.svg) no-repeat top left;
	background-size: contain;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	padding-bottom: 5px;
}

div.menu-item-icon-commons {
	background: url(https://dl.dropboxusercontent.com/u/4035571/Canvas%20Themes/kidzone/svgicons/books.svg) no-repeat top left;
	background-size: contain;
	margin-left: 20px;
	height: 40px;
	width: 40px;
}

/* @end */

/* @group Course Menu */


.list-view>ul>li>a, .list-view>nav>ul>li>a {
	width: 40px;
	margin-bottom: 0px;
	font-family: 'Lobster', cursive !important;
}

.list-view>ul>li>a:hover, 
.list-view>nav>ul>li>a:hover {
	background-color: #f9fafc !important;
}

.list-view a.active {
	background: transparent !important;
}


.grades .nav-badge {
	position: relative;
	top: -35px;
	left: 25px;
}

.ic-app-course-menu {
	padding: 10px 10px 10px 10px;
}

#content {
	padding: 10px;
}

.pages .header-bar-outer-container,
.pages .header-bar-outer-container .header-bar-container {
	min-height: 30px;
}

.pages.show.home .show-content {
	padding-top: 15px;
}

.list-view>ul>li>a, .list-view>nav>ul>li>a {
	background: #f9783f;
	color: #fff;
	width: 100%;
	border: 2px solid #0083dd;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.list-view>ul>li>a img, .list-view>nav>ul>li>a img {
	width: 20px;
	display: inline-block;
	float: left;
	z-index: 100;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	top: -3px;
	left: -3px;
}
/* @end */